/* style.css */

/*https://github.com/mikeizbicki/cmc-csci040 */

p {
	color: rgb(255,0,0);
}

p:first-of-type {
	color: green;
	/*background: lightblue;*/
}
body.index{
	background-color:  #00FFFF;
}
body.about{
	background-color:  #33FF9C;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
ul {
	list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  align-self: center;
}

li {
	display:block;
	color:white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
	float: left;

}

span {
	display: block;
	color: red;
	background-color: green;
}
ul.menu {
	padding: 0px;
}

li.menu {
	list-style-type: none;
	align-self: center;
	padding: 0px;
	padding-left: 5px;
	margin: 0px;
	margin-left: 0px;
	height:30px;
	width: 150px;
}

li.menu:hover {
	background: lightblue;
}

.mydiv {
	/*background: lightblue;*/
}

div.menu {
	float: left;
	background: orange;
	margin: 0px;
}

#title {
	background: blue;
	margin: 0px;
	text-align: center;
}





